@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url-prefix(about:processes) {  

body { font-family: var(--theme-font) !important; }

th.clickable,th { background: var(--theme-gradient-titlebar) !important; }

th.clickable:hover,th:hover { filter: brightness(150%) !important;  }

tr { background: var(--theme-background) !important;
	 color: var(--theme-text-default) !important; }

tr:hover { background-image: var(--theme-gradient-purple) !important;
		   color: var(--theme-text-highlight) !important; }
			   
tr[selected] { background-image: var(--theme-gradient-grey) !important;
			   color: var(--theme-text-highlight) !important; }

											}








