/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                       BUTTONS	                                                            -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/


@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") { 



.reload-tabs-button:not(:-moz-any([disabled], [open], :active)),
button[label="Make Default…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Settings…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Advanced…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Colours…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Choose…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Browse…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Show Update History…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Check for updates"]:not(:-moz-any([disabled], [open], :active)),
button[label="Restart to update Nightly"]:not(:-moz-any([disabled], [open], :active)),
button[label="Preferences"]:not(:-moz-any([disabled], [open], :active)),
button[label="OK"]:not(:-moz-any([disabled], [open], :active)),
button[label="Cancel"]:not(:-moz-any([disabled], [open], :active)),
button[label="Help"]:not(:-moz-any([disabled], [open], :active)),
button[label="Move Up"]:not(:-moz-any([disabled], [open], :active)),
button[label="Move Down"]:not(:-moz-any([disabled], [open], :active)),
button[label="Add"]:not(:-moz-any([disabled], [open], :active)),
button[label="Close"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove"]:not(:-moz-any([disabled], [open], :active)),
button[label="Manage Exceptions…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Clear Data…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Manage Data…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Manage Permissions…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Exceptions…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Saved Logins…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Change Master Password…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Saved Addresses…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Clear History…"]:not(:-moz-any([disabled], [open], :active)),
button[label="View Certificates…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Security Devices…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Save Changes"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove Web Site"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove All Web Sites"]:not(:-moz-any([disabled], [open], :active)),
button[label="Clear"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove Selected"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove All"]:not(:-moz-any([disabled], [open], :active)),
button[label="Save Changes"]:not(:-moz-any([disabled], [open], :active)),
button[label="Restore Defaults"]:not(:-moz-any([disabled], [open], :active)),
button[label="Add New Container"]:not(:-moz-any([disabled], [open], :active)),
button[label="Use Current Page"]:not(:-moz-any([disabled], [open], :active)),
button[label="Use Bookmark…"]:not(:-moz-any([disabled], [open], :active)),
button[label="Clear Now"]:not(:-moz-any([disabled], [open], :active)),
button[label="Restore Default Search Engines"]:not(:-moz-any([disabled], [open], :active)),
button[id="autoplaySettingsButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="btnAllow"]:not(:-moz-any([disabled], [open], :active)),
button[id="btnBlock"]:not(:-moz-any([disabled], [open], :active)),
button[id="add"]:not(:-moz-any([disabled], [open], :active)),
button[id="remove"]:not(:-moz-any([disabled], [open], :active)),
button[id="edit"]:not(:-moz-any([disabled], [open], :active)),
button[id="mine_viewButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="mine_backupButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="mine_backupAllButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="mine_restoreButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="mine_deleteButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="email_viewButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="email_addButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="email_exportButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="email_deleteButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="websites_viewButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="websites_exportButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="websites_deleteButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="websites_exceptionButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="ca_viewButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="ca_editButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="ca_addButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="ca_exportButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="ca_deleteButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="login_button"]:not(:-moz-any([disabled], [open], :active)),
button[id="logout_button"]:not(:-moz-any([disabled], [open], :active)),
button[id="change_pw_button"]:not(:-moz-any([disabled], [open], :active)),
button[id="load_button"]:not(:-moz-any([disabled], [open], :active)),
button[id="unload_button"]:not(:-moz-any([disabled], [open], :active)),
button[id="fipsbutton"]:not(:-moz-any([disabled], [open], :active)),
button[id="noFxaSignIn"]:not(:-moz-any([disabled], [open], :active)),
button[id="fxaUnlinkButton"]:not(:-moz-any([disabled], [open], :active)),
button[id="fxaChangeDeviceName"]:not(:-moz-any([disabled], [open], :active)),
button[id="syncNow"]:not(:-moz-any([disabled], [open], :active)),
button[id="syncChangeOptions"]:not(:-moz-any([disabled], [open], :active)),
button[id="verifiedManage"]:not(:-moz-any([disabled], [open], :active)),
button[id="show-all"]:not(:-moz-any([disabled], [open], :active)),
button[id="reset-box-button"]:not(:-moz-any([disabled], [open], :active)),
button[id="restart-in-safe-mode-button"]:not(:-moz-any([disabled], [open], :active)),
button[id="copy-raw-data-to-clipboard"]:not(:-moz-any([disabled], [open], :active)),
button[id="copy-to-clipboard"]:not(:-moz-any([disabled], [open], :active)),
button[id="update-dir-button"]:not(:-moz-any([disabled], [open], :active)),
button[id="show-update-history-button"]:not(:-moz-any([disabled], [open], :active)),
button[id="restart-button"]:not(:-moz-any([disabled], [open], :active)),
button[id="open-about-logins-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="containers-settings-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="clear-startup-cache-label"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="support-printing-clear-settings-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="protection-report-manage-passwords-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="label-disable"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="profiles-launch-profile"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="profiles-set-as-default"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="profiles-remove"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="profiles-rename"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="profiles-opendir"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="find-more-addons"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="show-addon"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="disable-addon-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="newtab-topsites-save-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="newtab-topsites-cancel-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="enable-addon-button"]:not(:-moz-any([disabled], [open], :active)) { background: var(--theme-gradient-purple) !important;
																						 color: var(--theme-text-default) !important;
																						 border: 1px solid var(--theme-outline-button-purple) !important; 
																						 border-radius: 0.3em !important; }


button[data-l10n-id="go-back-button"]:not(:-moz-any([disabled], [open], :active)), /* ones that cant have a background */
button[data-l10n-id="about-config-pref-toggle-button"]:not(:-moz-any([disabled], [open], :active)), 
button[data-l10n-id="about-config-pref-reset-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="about-config-pref-save-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="about-config-pref-edit-button"]:not(:-moz-any([disabled], [open], :active)),
button[data-l10n-id="about-config-pref-delete-button"]:not(:-moz-any([disabled], [open], :active)) { fill: var(--theme-text-default) !important;
																									 color: var(--theme-text-default) !important;
																									 border: 1px solid var(--theme-outline-button-grey) !important;
																									 border-radius: 0.3em !important; }


button[label="Make Default…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Settings…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Advanced…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Colours…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Choose…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Browse…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Show Update History…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Check for updates"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Restart to update Nightly"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Preferences"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Cancel"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Move Up"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Move Down"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Add"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Close"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Manage Exceptions…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Manage Data…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Manage Permissions…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Exceptions…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Saved Logins…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Change Master Password…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Saved Addresses…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Clear History…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="View Certificates…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Security Devices…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="OK"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Use Current Page"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Use Bookmark…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Clear Data…"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
.reload-tabs-button:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="autoplaySettingsButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="btnAllow"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="edit"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="mine_viewButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="mine_backupButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="mine_backupAllButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="mine_restoreButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="email_viewButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="email_addButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="email_exportButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="websites_viewButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="websites_exportButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="websites_exceptionButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="ca_viewButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="ca_editButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="ca_addButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="ca_exportButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="login_button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="logout_button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="change_pw_button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="load_button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="unload_button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="fipsbutton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="fxaUnlinkButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="fxaChangeDeviceName"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="syncNow"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="syncChangeOptions"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="noFxaSignIn"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="verifiedManage"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="show-all"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="copy-raw-data-to-clipboard"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="copy-to-clipboard"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="update-dir-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="show-update-history-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="restart-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="open-about-logins-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="restart-in-safe-mode-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="clear-startup-cache-label"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="support-printing-clear-settings-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="protection-report-manage-passwords-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="containers-settings-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="label-disable"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="profiles-launch-profile"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="profiles-set-as-default"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="profiles-rename"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="profiles-opendir"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="show-addon"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="newtab-topsites-cancel-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="find-more-addons"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { background: var(--theme-gradient-grey) !important;
																											   color: var(--theme-text-highlight) !important;
																											   border: 1px solid var(--theme-outline-button-grey) !important; }

button[data-l10n-id="go-back-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])), /* ones that cant have a background */
button[data-l10n-id="about-config-pref-toggle-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="about-config-pref-reset-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="about-config-pref-save-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="about-config-pref-edit-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="about-config-pref-delete-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { fill: var(--theme-text-highlight) !important;
																															  color: var(--theme-text-highlight) !important;
																															  border: 1px solid var(--theme-outline-button-purple) !important; }

button[label="Disable Extension"]:not(:-moz-any([disabled], [open], :active)),
button[label="Remove"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Restore Defaults"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Restore Default Search Engines"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Remove Selected"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Remove All"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Remove Web Site"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Remove All Web Sites"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Clear"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Clear Now"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="btnBlock"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="remove"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="mine_deleteButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="email_deleteButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="websites_deleteButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="ca_deleteButton"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="reset-box-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="profiles-remove"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="disable-addon-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-default) !important;
																												   background: var(--theme-gradient-red) !important;
																												   border: 1px solid var(--theme-outline-button-red) !important;
																												   border-radius: 0.3em !important; }

button[label="Disable Extension"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-highlight) !important;
																										 filter: brightness(125%) !important;
																										 background: var(--theme-gradient-orange) !important;
																										 border: 1px solid var(--theme-outline-button-orange) !important; }

button[label="Save Changes"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[id="add"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[label="Add New Container"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="newtab-topsites-save-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button[data-l10n-id="enable-addon-button"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-highlight) !important;
																												  filter: brightness(125%) !important;
																												  background: var(--theme-gradient-green) !important;
																												  border: 1px solid var(--theme-outline-button-green) !important; }


button[label="Help"]:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-highlight) !important;
																							filter: brightness(125%) !important;
																							background: var(--theme-gradient-yellow) !important;
																							border: 1px solid var(--theme-outline-button-yellow) !important; }



.page-options-menu > .more-options-button:hover { transform: rotate(360deg) !important; transition: transform ease-in-out 2s !important; }

button.disco-cta-button,
button.disco-cta-button.primary  { background: var(--theme-gradient-purple) !important;
								   color: var(--theme-text-default) !important;
								   border: 1px solid var(--theme-outline-button-purple) !important;
								   box-shadow: 0 0 0.5px var(--theme-outline-button-purple-shadow) !important;
								   border-radius: 0.3em !important; }
										
button.disco-cta-button:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])),
button.disco-cta-button.primary:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])){ background: var(--theme-gradient-grey) !important;
																									  color: var(--theme-text-highlight) !important;
																									  border: 1px solid var(--theme-outline-button-grey) !important; }

.checkbox-check{ background-color: transparent !important;
				 fill: var(--theme-text-default) !important;
				 border-color: var(--theme-text-default) !important;
				 filter: brightness(100%) !important; }
				 
.checkbox-check[checked]{ background-color: transparent !important;
						  border-color: var(--theme-text-highlight) !important;
						  fill: var(--theme-navbar-reload-highlight-icon) !important;
						  filter: brightness(125%) !important; }

.radio-check{ background-color: transparent !important;
				 fill: green !important;
				 border-color: var(--theme-text-default) !important;
				 filter: brightness(125%) !important; }
	

input[type="checkbox"].toggle-button { background: var(--theme-gradient-red) !important;
									   border-color: var(--theme-outline-button-red) !important; }

input[type="checkbox"].toggle-button:hover { background: var(--theme-gradient-red) !important;
											 border-color: var(--theme-outline-button-red) !important;
											 filter: brightness(150%) !important; }

input[type="checkbox"].toggle-button:checked { background: var(--theme-gradient-green) !important;
											   border-color: var(--theme-outline-button-green) !important; }

input[type="checkbox"].toggle-button:checked:hover { background: var(--theme-gradient-green) !important;
											         border-color: var(--theme-outline-button-green) !important;
													 filter: brightness(150%) !important; }			 

/* regular close buttons */
.action-icon,
.close-icon { fill: var(--theme-text-highlight) !important; }
		 
.close-icon:hover { fill: var(--theme-close-icon) !important; }




.addon-icon::before { fill: var(--theme-text-highlight) !important; }
.addon-icon:hover::before { fill: var(--theme-outline-button-yellow) !important; }
.close-icon::before { fill: var(--theme-text-highlight) !important; }
.close-icon:hover::before { fill: var(--theme-close-icon) !important; }
					  



	
																							}







