/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                          CARD                                                              -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url-prefix(about:addons) {

/* multi column extentions */
@media (min-width:720px) { #main { max-width: unset !important; padding-right: 28px; }

								   addon-list > section,
								   recommended-addon-list { padding: 1em;
															display: grid;
															grid-template-areas: "hd hd" "cd cd";
															grid-template-columns: 1fr 1fr;
															column-gap: 1em; }
  
								   addon-card .card-contents { width: unset !important; white-space: initial !important; }

								  .card-heading-image { max-width: calc(100% + 32px); }
								  
								   section > h2 { grid-area: hd; }

								   addon-card { padding-bottom: 0px !important;
												padding-top: 0px !important;
												grid-area: auto; }

								   addon-card .addon-description { max-height: 3em; scrollbar-width: thin; }
							}



/* CARDS */
.addon.card { background: var(--theme-cards-gradient-purple) !important;
			  color: var(--theme-panel-color) !important;
			  border: 0.40px var(--theme-panel-border-color-purple) solid !important;
			  box-shadow: 0 0 0.10px var(--theme-panel-color-highlight) !important; }

/* HOVER ENABLED CARD */
.addon.card:hover  { color: var(--theme-panel-color-highlight) !important;
					 background: var(--theme-cards-gradient-purple-active) !important;
					 border: 0.40px var(--theme-panel-border-color-purple) solid !important;
					 box-shadow: 0 0 0.10px var(--theme-panel-color-highlight) !important; }

/* DISABLED CARD  */
.addon.card[active="false"] { background: var(--theme-cards-gradient-grey) !important;
							  color: var(--theme-panel-disabled-color) !important;
							  border: 0.40px var(--theme-panel-border-color-grey) solid !important;
							  box-shadow: 0 0 0.10px var(--theme-panel-color-highlight) !important; }

/* HOVER DISABLED CARD */
.addon.card[active="false"] { background: var(--theme-cards-gradient-grey-active) !important;
							  color: var(--theme-panel-disabled-color) !important;
							  border: 0.40px var(--theme-panel-border-color-grey) solid !important;
							  box-shadow: 0 0 0.10px var(--theme-panel-color-highlight) !important; }

/* RECOMMENDED CARD */
recommended-addon-list .addon.card { background: var(--theme-cards-gradient-grey) !important;
									 color: var(--theme-panel-color) !important;
									 border: 0.40px solid var(--theme-panel-border-color-grey) !important;
									 box-shadow: 0 0 0.10px var(--theme-panel-color-highlight) !important;
									 border-radius: 8px !important; }



											}





