@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") { 


/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                        CHECKBOXES    	                                                    -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/	

* .checkbox-check { fill: var(--theme-checkbox-check) !important; }



/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                        RADIO	                                                            -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

*.radio-check { fill: var(--theme-checkbox-check) !important; }



/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                     DROPMARKERS	                                                        -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

* .menulist-dropmarker { background: transparent !important;
						 fill: var(--theme-checkbox-check) !important; }

input:not([type=file], [type=image]):focus-visible,
select:focus-visible,
button:focus-visible,
textarea:focus-visible {
  /* These elements can handle outline themselves when themed, so we use
   * outline-style: auto and skip rendering the outline only when themed and
   * the theme allows so */
  outline-style: none !important;
}
																							}


