/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                        DIALOG                                                              -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/


@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") { 


.dialogOverlay { background: transparent !important; }

.dialogBox { background: var(--theme-background) !important;
			 border: 1.25px var(--theme-outline-purple-border) solid !important;
			 border-radius: 0.25em !important; }

.options-container { background: var(--theme-background) !important;
					 border: 1px var(--theme-background) !important!;
					 border-bottom: 1px solid var(--theme-background) !important;
					 border-top: 1px solid var(--theme-background) !important;
					 border-left: 1px solid var(--theme-background) !important;
					 border-right: 1px solid var(--theme-background) !important;						   
					 border-radius: 0em !important; }

.dialog-content-box { background: var(--theme-background) !important; }

.dialogFrame { background: var(--theme-background) !important; }

.dialogTitleBar { background-image: var(--theme-gradient-titlebar) !important; }

#engineList treechildren#engineChildren,
#engineList { background: var(--theme-background) !important;
			  border: 1px var(--theme-outline-purple-border) solid !important; }

#engineShown,
#engineName,
#engineKeyword  { background: var(--theme-gradient-titlebar) !important; }

hbox.dialog-button-box { background: var(--theme-background) !important; }
																							}



