/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                       MENULIST                                                             -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/


@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") { 


menulist > menupopup { background: var(--theme-menu-background) !important;
					   color: var(--theme-text-default) !important;
					   border: 1px var(--theme-outline-purple-border) solid !important; }

menulist > menupopup > menu,
menulist > menupopup > menuitem,
menulist > menupopup > menucaption { color: var(--theme-text-default) !important;
									 filter: brightness(100%) !important;
									 background: var(--theme-menu-background) !important; }

menulist > menupopup > menu:not([disabled="true"])[selected="true"],
menulist > menupopup > menuitem:not([disabled="true"]):hover,
menulist > menupopup > menucaption:not([disabled="true"]):hover { color: var(--theme-text-highlight) !important;
																  filter: brightness(125%) !important;
																  background: var(--theme-gradient-purple) !important; }

menulist > menupopup > menu:not([disabled="true"])[selected="true"],
menulist > menupopup > menuitem:not([disabled="true"])[selected="true"],
menulist > menupopup > menucaption:not([disabled="true"])[selected="true"] { color: var(--theme-text-highlight) !important;
																			 filter: brightness(125%) !important;
																			 background: var(--theme-gradient-grey) !important; }

menulist[id="defaultFont"],
menulist[id="defaultFontSize"],
menulist[id="defaultZoom"],
menulist[id="selectLangs"],
menulist[id="availableLanguages"],
menulist[id="defaultFontType"],
menulist[id="sizeVar"],
menulist[id="serif"],
menulist[id="sans-serif"],
menulist[id="monospace"],
menulist[id="sizeMono"],
menulist[id="minSize"],
menulist[id="useDocumentColors"],
menulist[id="homeMode"],
menulist[id="newTabMode"],
#homeContentsGroup [data-subcategory] > vbox menulist,
menulist[id="defaultEngine"],
menulist[id="blockCookiesMenu"],
menulist[id="trackingProtectionMenu"],
menulist[id="sanitizeDurationChoice"],
menulist[id="historyMode"],
menulist[label="Block Audio"],
menulist[id="minSize"] { background: var(--theme-menu-background) !important;
						 border: 1px var(--theme-outline-purple-border) solid !important; }

menulist[id="defaultFont"]:hover,
menulist[id="defaultFontSize"]:hover,
menulist[id="defaultZoom"]:hover,
menulist[id="selectLangs"]:hover,
menulist[id="availableLanguages"]:hover,
menulist[id="defaultFontType"]:hover,
menulist[id="sizeVar"]:hover,
menulist[id="serif"]:hover,
menulist[id="sans-serif"]:hover,
menulist[id="monospace"]:hover,
menulist[id="sizeMono"]:hover,
menulist[id="minSize"]:hover,
menulist[id="useDocumentColors"]:hover,
menulist[id="homeMode"]:hover,
menulist[id="newTabMode"]:hover,
#homeContentsGroup [data-subcategory] > vbox menulist:hover,
menulist[id="defaultEngine"]:hover,
menulist[id="blockCookiesMenu"]:hover,
menulist[id="trackingProtectionMenu"]:hover,
menulist[id="sanitizeDurationChoice"]:hover,
menulist[id="historyMode"]:hover,
menulist[label="Block Audio"]:hover,
menulist[id="minSize"]:hover  { background: var(--theme-gradient-purple) !important; }

panel-list { background: var(--theme-menu-background) !important;
			 border: 1px var(--theme-outline-purple-border) solid !important; }

panel-list:hover  { background: var(--theme-gradient-purple) !important; }


button[role=menuitem] { background: var(--theme-menu-background) !important;
						color: var(--theme-text-default) !important; }

button[role=menuitem]:not([disabled="true"]):hover { background: var(--theme-gradient-purple) !important;
													 color: var(--theme-text-highlight) !important;
													 filter: brightness(125%) !important; }



																							}



