@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document regexp("chrome:\/\/(?!devtools).*"), regexp("about:(?!(blank|devtools)).*") { 

/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                        RADIO	                                                            -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

radio  { outline: none !important; }

*.radio-check { fill: var(--theme-checkbox-check) !important; }

.radio-check { background-color: transparent !important;
			   fill: var(--theme-checkbox-check) !important;
			   border-color: var(--theme-panel-color-highlight) !important;
			   filter: brightness(125%) !important; }
																							}


