:root { 
/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                     THEME VARIABLES                                                        -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

/* BACKGROUND */
--theme-background: rgb(0, 0, 0) !important;


/* TOOLBAR */
--theme-toolbar-bgcolor: rgb(0, 0, 0) !important;
--theme-toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
--theme-toolbar-color: rgb(210, 210, 210) !important;


/* MENU */ 
--theme-menu-background: rgb(0, 0, 0) !important;
--theme-menu-text-default: rgb(210, 210, 210) !important;
--theme-menu-border-color: rgb(64, 64, 64) !important;


/* TEXT */
--theme-text-default: rgb(210, 210, 210) !important;
--theme-text-highlight: rgb(255, 255, 255) !important;
--theme-text-selected: rgb(128, 128, 179) !important;
--theme-text-notselected: rgb(128, 128, 128) !important;
--theme-text-tab-pending: rgb(255, 0, 0) !important;
--theme-menu-text-disabled: rgb(102, 102, 102) !important;

--theme-panel-description-color: rgb(143, 143, 188) !important;
--theme-panel-shortcut-color: rgb(128, 128, 179) !important;


/* BUTTON */ 
--theme-button-color: rgb(210, 210, 210) !important;
--theme-button-hover-bgcolor:  rgb(75, 75, 129) !important;
--theme-button-active-bgcolor: rgb(94, 94, 161) !important;


/* GRADIENT */
--theme-gradient-grey: -moz-linear-gradient(45deg, rgb(65, 65, 65) 25%, rgb(102, 102, 102) 65%, rgb(65, 65, 65) 80%) ;
--theme-gradient-purple: -moz-linear-gradient(225deg, rgb(48, 48, 80) 0%, rgb(19, 19, 32) 20%, rgb(48, 48, 80) 80%) ;
--theme-gradient-purple-active: -moz-linear-gradient(225deg, rgb(67, 67, 112) 0%, rgb(38, 38, 64) 20%, rgb(67, 67, 112)) ;
--theme-gradient-red: -moz-linear-gradient(225deg, rgb(102, 0, 0) 0%, rgb(51, 0, 0) 20%,rgb(102, 0, 0) 80%) ;
--theme-gradient-orange: -moz-linear-gradient(225deg, rgb(128, 77, 0) 0%, rgb(51, 31, 0) 20%,rgb(128, 77, 0) 80%) ;
--theme-gradient-green: -moz-linear-gradient(225deg, rgb(38, 77, 0) 0%, rgb(13, 26, 0) 20%, rgb(38, 77, 0) 80%) ;
--theme-gradient-green-active: -moz-linear-gradient(225deg, rgb(51, 102, 0) 0%, rgb(38, 77, 0) 20%, rgb(51, 102, 0) 80%) ;
--theme-gradient-yellow: -moz-linear-gradient(225deg, rgb(102, 102, 0) 0%, rgb(51, 51, 0) 20%,rgb(102, 102, 0) 80%) ;
--theme-gradient-titlebar: linear-gradient(hsl(240, 25%, 20%), hsl(240, 23%, 5%) 65%) ;
--theme-gradient-cards-grey: -moz-linear-gradient(225deg, rgb(65, 65, 65) 0%, rgb(0, 0, 0) 20%, rgb(65, 65, 65) 80%) ;
--theme-gradient-cards-grey-active: -moz-linear-gradient(225deg, rgb(85, 85, 85) 0%, rgb(0, 0, 0) 20%, rgb(85, 85, 85) 80%) ;
--theme-gradient-cards-purple: -moz-linear-gradient(225deg, rgb(38, 38, 64) 0%, rgb(0, 0, 0) 20%, rgb(38, 38, 64) 80%) ;
--theme-gradient-cards-purple-active: -moz-linear-gradient(225deg, rgb(58, 58, 92) 0%, rgb(0, 0, 0) 20%, rgb(58, 58, 92) 80%) ;
--theme-gradient-titlebar: linear-gradient(hsl(240, 25%, 20%), hsl(240, 23%, 5%) 65%) ;


/* OUTLINE BUTTONS */
--theme-outline-button-purple: rgb(75, 75, 129) ;
--theme-outline-button-grey: rgb(102, 102, 102) ;
--theme-outline-button-red: rgb(204, 0, 0) ;
--theme-outline-button-orange: rgb(204, 112, 0) ;
--theme-outline-button-green: rgb(51, 153, 51) ;
--theme-outline-button-green-active: rgb(37, 116, 37) ;
--theme-outline-button-yellow: rgb(204, 204, 0) ;
--theme-outline-grey-border: rgb(102, 102, 102) ;
--theme-outline-purple-border: rgb(76, 76, 130) ;

--theme-outline-grey-shadow: rgb(179, 179, 179) ;
--theme-outline-purple-shadow: rgb(159, 159, 198) ;
--theme-outline-menu-grey: rgb(64, 64, 64) ;

/* outline urlbar */
--focus-outline-color: var(--theme-outline-button-purple) !important;


/* ICONS */
--theme-navbar-default-icon: rgb(179, 179, 179) !important;
--theme-navbar-reload-icon: rgb(102, 204, 0) !important;
--theme-navbar-reload-highlight-icon: rgb(128, 255, 0) !important;
--theme-navbar-stop-icon: rgb(255, 12, 0) !important;
--theme-navbar-stop-highlight-icon: rgb(255, 61, 51) !important;
--theme-urlbar-favorite-icon: rgb(230, 230, 0) !important;

/* ENERGY IMPACT */
--theme-energy-impact: rgb(153, 8, 0) ;
--theme-close-icon: rgb(255, 12, 0) ;


--in-content-box-info-background: var(--theme-gradient-purple) !important;
--in-content-focus-outline-color: var(--theme-outline-button-purple) !important;
--in-content-page-background: var(--theme-background) !important;
--in-content-page-color: var(--theme-text-default) !important;
--in-content-deemphasized-text: var(--theme-text-highlight) !important;

/* Checkbox , switches */
--theme-checkbox-check: rgb(102, 204, 0) ;
--theme-checkbox-check-off: rgb(128, 0, 0) ;

/* font */
--theme-font: verdana ;


/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                    FIREFOX VARIABLES                                                       -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/


--in-content-box-background: var(--theme-background) !important;
--in-content-box-background-odd: var(--theme-background) !important;

--in-content-link-color: var(--theme-text-selected) !important;
--in-content-link-color-hover: var(--theme-outline-purple-shadow) !important;
--in-content-link-color-active: var(--theme-outline-button-purple) !important;
--in-content-accent-color: var(--theme-text-selected) !important;
--in-content-accent-color-active: var(--theme-outline-purple-shadow) !important;
--in-content-border-color: var(--theme-background) !important;

--in-content-table-background: rgb(35, 34, 43) !important;
--in-content-table-border-dark-color: rgba(249,249,250,0.2) !important;
--in-content-table-header-background: var(--theme-outline-button-purple) !important;
--in-content-table-header-color: var(--theme-text-highlight) !important;
	
	
--in-content-item-selected: var(--theme-gradient-grey) !important;
--in-content-item-selected-text: var(--theme-text-highlight) !important;

--in-content-button-background: var(--theme-outline-button-grey) !important;
--in-content-button-background-hover: var(--theme-outline-button-purple) !important;
--in-content-button-background-active: var(--theme-outline-button-purple)  !important;



--in-content-box-border-color: var(--theme-outline-button-purple) !important;

--checkbox-border-color): var(--theme-text-highlight) !important;
--checkbox-unchecked-border-color: var(--theme-text-highlight) !important;
--checkbox-unchecked-bgcolor: var(--theme-background) !important;

--checkbox-checked-color: var(--theme-checkbox-check) !important;
--checkbox-checked-border-color: var(--theme-text-highlight) !important;
--checkbox-checked-bgcolor: var(--theme-background) !important;


--checkbox-unchecked-hover-bgcolor: var(--theme-background) !important;
--checkbox-checked-hover-bgcolor: var(--theme-background) !important;








	
	
	    --in-content-icon-color: red !important;
	
	

--in-content-border-hover: yellow !important;
--in-content-border-invalid: blue !important;



	
	
	
    --in-content-dialog-header-background: pink !important;




	
	
	

    --in-content-link-color-visited: blue !important;


    --in-content-error-text-color: yellow !important;


    --in-content-primary-button-text-color: rgb(43,42,51);
    --in-content-primary-button-background: rgb(0,221,255);
    --in-content-primary-button-background-hover: rgb(128,235,255);
    --in-content-primary-button-background-active: rgb(170,242,255);
    --in-content-danger-button-background: #ff848b;
    --in-content-danger-button-background-hover: #ffbdc5;
    --in-content-danger-button-background-active: #ffdfe7;
	
	
	








}
