/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                          DOWNLOADS                                                         -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/




/* Button progress indication toolbar*/
#downloads-button > .toolbarbutton-badge-stack > #downloads-indicator-progress-outer { var(--theme-navbar-reload-icon) !important; }
#downloads-indicator-progress-inner { background: conic-gradient(var(--theme-navbar-reload-icon) var(--download-progress-pcent), transparent var(--download-progress-pcent) !important; ) !important; }

/* Download status */
#downloads-button[attention="success"] > .toolbarbutton-badge-stack > #downloads-indicator-anchor > #downloads-indicator-icon { fill: var(--theme-navbar-reload-icon) !important; }
#downloads-button[attention="warning"] > .toolbarbutton-badge-stack > .toolbarbutton-badge { fill: var(--theme-outline-button-red) !important; }
#downloads-button[attention="severe"] > .toolbarbutton-badge-stack > .toolbarbutton-badge { fill: var(--theme-outline-button-orange) !important; }

/*** Download notifications (transitions between downloading states) ***/
#downloads-indicator-start-image { fill: var(--theme-navbar-reload-icon) !important;
								   stroke:var(--theme-navbar-reload-icon) !important; }
								   
#downloads-button[attention="success"] > .toolbarbutton-badge-stack > #downloads-indicator-start-box > #downloads-indicator-start-image { stroke: var(--theme-navbar-reload-icon) !important; }

#downloads-indicator-finish-image { fill: var(--theme-navbar-reload-icon) !important;
									stroke: var(--theme-navbar-reload-icon) !important; }

#downloads-button[open] > .toolbarbutton-badge-stack > #downloads-indicator-finish-box > #downloads-indicator-finish-image { stroke: var(--theme-navbar-reload-icon) !important; }

