/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                         TABS                                                               -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

:root { /* floating tabs */
		--tab-min-height: 36px !important;
		--inline-tab-padding: 8px !important;
		--tab-border-radius: 4px !important;
		--tab-shadow-max-size: 6px !important;
		--tab-block-margin: 4px !important;
		
		}



/* Remove blank space before and after tabs */
.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] { display: none !important; }


/* default tab */
.tabbrowser-tab { font-size: 14px !important; font-family: var(--theme-font) !important; }
.tab-background { margin-bottom: 8px !important; }


/* active tab */
.tab-background[selected="true"] { background: var(--theme-toolbar-bgcolor) !important; }
.tabbrowser-tab[multiselected]:-moz-lwtheme,
.tabbrowser-tab[visuallyselected="true"]:-moz-lwtheme { color: var(--theme-panel-color-highlight) !important; }


/* tab loading icon */





/* tab line */
.tab-background[selected="true"] > .tab-context-line { border-top: 1px solid transparent !important;
													   border-image: 1 0 0 0 var(--theme-tab-line) !important; }


/* active tab hover */
.tabbrowser-tab[multiselected]:-moz-lwtheme:hover,
.tabbrowser-tab[visuallyselected="true"]:-moz-lwtheme:hover { color: var(--theme-panel-color-highlight) !important; }


/* inactive tabs */
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]) { filter: grayscale(40%) !important;
																	  opacity: 0.90 !important;
																	  color: var(--theme-panel-color-inactive) !important; }


.tabbrowser-tab:not([visuallyselected="true"], [pinned]) { max-width: 140px !important; }


/* inactive tab hover */
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):hover, .tabbrowser-tab:-moz-lwtheme:hover  { filter: grayscale(25%) !important;
																												 opacity: 1.0 !important;
																												 filter: brightness(115%) !important; }


/* unloaded tab */
.tabbrowser-tab[pending="true"] .tab-text { color: var(--theme-close-icon) !important;
											filter: brightness(90%) !important;
											font-size: 11px !important; }
		
		
/* unloaded tab hover */				
.tabbrowser-tab[pending="true"] .tab-text:hover { filter: brightness(100%) !important; }


/* Tab audio button */
.tab-icon-overlay { width: 24px !important;
					height: 24px !important; }



/* tab close icon */ 
.tabbrowser-tab .tab-close-button { visibility: hidden !important;
									opacity: 0.0 ;
									transition: visibility 1s, opacity 1.3s ease !important; }


.tabbrowser-tab:hover .tab-close-button { visibility:visible !important;
										  opacity:1.0 ;
										  transition: visibility 0.5s, opacity 0.6s ease !important;
										  font-weight: bold !important;
										  color: var(--theme-close-icon) !important; }


/* curved tabs mod */
:root {
  --svg-selected-before: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgb(0, 0, 0);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --svg-selected-after: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgb(0, 0, 0);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --background-selected-middle:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    linear-gradient(
      transparent
      2px,
      rgb(0, 0, 0) 2px,
      rgb(0, 0, 0)
    ),
    none !important;
}





