/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                      TOOLBAR                                                               -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

#customization-palette-container { background: var(--theme-gradient-titlebar) !important; }

toolbarpaletteitem[place="palette"] { background: rgba(204, 238, 255, 0.08) !important; border-radius: 0.5em; }

#customization-panelHolder { border: 1.25px solid var(--theme-outline-menu-grey) !important; }

#customization-toolbar-visibility-button,
.customizationmode-button { background: var(--theme-background) !important;
							color: var(--theme-text-highlight) !important;
							border: 1.25px var(--theme-outline-purple-border) solid !important;
							border-radius: 0.25em !important; }

#customization-reset-button,
#customization-undo-reset-button,
#customization-done-button { background: var(--theme-gradient-purple) !important;
							 color: var(--theme-text-default) !important;
							 border: 1px solid var(--theme-outline-button-purple) !important; 
							 border-radius: 0.3em !important; }

#customization-reset-button:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-default) !important;
																								   background: var(--theme-gradient-red) !important;
																								   border: 1px solid var(--theme-outline-button-red) !important;
																								   border-radius: 0.3em !important; }

#customization-undo-reset-button:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-highlight) !important;
																									    filter: brightness(125%) !important;
																									    background: var(--theme-gradient-orange) !important;
																									    border: 1px solid var(--theme-outline-button-orange) !important; }

#customization-done-button:-moz-any(:hover, :focus, :active, [open]):not(:-moz-any([disabled])) { color: var(--theme-text-highlight) !important;
																								  filter: brightness(125%) !important;
																								  background: var(--theme-gradient-green) !important;
																								  border: 1px solid var(--theme-outline-button-green) !important; }




